# Unity generated folders/files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE / editor files
.vs/
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# User-specific files
*.csproj
*.sln
*.suo
*.user
*.userprefs